body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Todo-Container{
    width: 500px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background-color: rgb(224, 224, 224);
}
.Head{
    font-size: 2.5vw;
}
.ele {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ele span{
     padding: 20px 0px 0px 0px;
}

.btn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 25px 0 0 0;
    font-weight: bold;
    cursor: pointer;
}
